/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 ===========================display ===================================
body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

/* main {
    background-color: aqua;
} */
/* learning about display property  block level element */
/* p {
    background-color: lightgray;
    margin: 100px 50px;
}

.country {
    display: inline-block;
    background-color: #333;
    color:  whitesmoke;
    margin-top: 100px ;  
    height: 200px;
    padding: 4rem;
    /* cant apply margin-top or hight in block level element  */
/* }  */

 /* inline level element  doesn't stack on each other 
usage case
 using link in button 
 list into row 
 */


/* ul {
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: lightgray;
    margin: 0;
}

li{
    display: inline-block;
    margin-inline:  0.5rem;
}
a{
    text-decoration: none;

}  */

/* ================float ================== */

/* body{
font-variant-position: 1.5rem;
font-family: "Roboto", sans-serif;
}


.block {
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: aliceblue;
    padding: 1rem;
}


.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
} */

/* css columns */


body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}

.columns p {
    margin-top: 0;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    break-inside: avoid;
    
}





