body{
    text-align: center;;
    font-size:22px;
    font-family: monospace;
    background-color: antiquewhite;
    color:#0d0d0f63;
    /* rgba red green blue a for transparent */
}

p{
 color:#333333;
}