* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    min-height: 200 vh;
}

.outer-container {
    border: 3px dashed black;
    width: 75vm;
    height: 85vh;
    margin: 40px auto;
    position: relative;


}

/*  inner-container */

.inner-container {
    border: 2px solid #00f;
    width: 40vm;
    height: 50vh;
    margin: 200px 30px 200px 30px;
    position: relative;
}

.box {
    width: 150px;
    height: 75px;
    color: rgba(0, 0, 0, .5);
    padding: 0.5rem;
}


.absolute {
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
}

.relative {
    background-color: pink;
    position: relative;
    top: 0;
    left: 0;
}